@font-face {
  font-family: 'Roboto Mono';
  src: local("RobotoMono"),
    url('./fonts/RobotoMono-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./fonts/RobotoMono-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.App {
  text-align: center;
}

.header-logo {
  height: 75px;
}

.header-logo-link {
  height: 75px;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.App-header {
  font-family: 'Roboto Mono', monospace;
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
}

.upload-form {
  padding: 1em;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.menu-link {
  display: inline-block;
  color: #669FDA;
  font-size: 18px;
  margin-left: 1.5em;
  text-decoration: none;
}

.menu-link:hover {
  border-bottom: 1px solid #669FDA;
}

.menu-link.active {
  font-weight: bold;
  color: #669FDA;
  border-bottom: 1px solid #669FDA;
}

h3 {
  color: #5c5c5c;
}

.col {
  height: 100%;
  flex-grow: 1;
  min-width: 400px;
  margin: 1em;
}

.col-header {
  margin: 1em 0 1em;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}