:root {
/* Colors */
--tw-color-blue-primary: #1da1f2;
--tw-color-text-primary: #14171a;
--tw-color-text-link: #1b95e0;
--tw-color-gray-deep: #657786;
--tw-color-gray-medium: #aab8c2;
--tw-color-gray-light: #ccd6dd;
--tw-color-gray-faded: #e6ecf0;
--tw-color-gray-faint: #f5f8fa;
--tw-color-red-deep: #a01744;
--tw-color-red-medium: #e0245e;
--tw-color-red-light: #f6809a;
--tw-color-red-faded: #ffb8c2;
--tw-color-orange-deep: #d82e18;
--tw-color-orange-medium: #f45d22;
--tw-color-orange-light: #ff8d57;
--tw-color-orange-faded: #ffbe78;
--tw-color-yellow-deep: #f98e00;
--tw-color-yellow-medium: #ffad1f;
--tw-color-yellow-light: #ffd03f;
--tw-color-yellow-faded: #ffe76e;
--tw-color-green-deep: #008951;
--tw-color-green-medium: #17bf63;
--tw-color-green-light: #68e090;
--tw-color-green-faded: #a5f2aa;
--tw-color-blue-deep: #005fd1;
--tw-color-blue-medium: #1da1f2;
--tw-color-blue-light: #71c9f8;
--tw-color-blue-faded: #97e3ff;
--tw-color-blue-faint: #eaf5fd;
--tw-color-purple-deep: #4f0299;
--tw-color-purple-medium: #794bc4;
--tw-color-purple-light: #a37ced;
--tw-color-purple-faded: #c7b4fa;
/* Form controls */
--feather-form-control-xsmall-font-size: 0.6rem;
--feather-form-control-xsmall-height: 1rem;
--feather-form-control-xsmall-border-radius: 0.2rem;
--feather-form-control-xsmall-padding-x: 0.4rem;
--feather-form-control-xsmall-adornment-margin: 0.2rem;
--feather-form-control-small-font-size: 0.6rem;
--feather-form-control-small-height: 1.2rem;
--feather-form-control-small-border-radius: 0.2rem;
--feather-form-control-small-padding-x: 0.4rem;
--feather-form-control-small-adornment-margin: 0.2rem;
--feather-form-control-default-font-size: 0.7rem;
--feather-form-control-default-height: 1.6rem;
--feather-form-control-default-border-radius: 0.2rem;
--feather-form-control-default-padding-x: 0.6rem;
--feather-form-control-default-adornment-margin: 0.3rem;
--feather-form-control-large-font-size: 0.8rem;
--feather-form-control-large-height: 2rem;
--feather-form-control-large-border-radius: 0.2rem;
--feather-form-control-large-padding-x: 0.8rem;
--feather-form-control-large-adornment-margin: 0.4rem;
/* Grid */
--feather-grid-micro: 0.2rem;
--feather-grid-xxsmall: 0.4rem;
--feather-grid-xsmall: 0.6rem;
--feather-grid-small: 0.8rem;
--feather-grid-medium: 1rem;
--feather-grid-large: 1.2rem;
--feather-grid-mega: 2rem;
--feather-grid-baseline-gap: 8px;
--feather-grid-column-gap: 20px;
--feather-grid-column-width: 78px;
--feather-grid-column-count: 12;
--feather-grid-page-width: 1156px;
/* Typography */
--feather-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
--feather-font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
--feather-font-size-jumbo: 1.2rem;
--feather-line-height-jumbo: 1.6rem;
--feather-font-size-xlarge: 1rem;
--feather-line-height-xlarge: 1.4rem;
--feather-font-size-large: 0.8rem;
--feather-line-height-large: 1.2rem;
--feather-font-size-normal: 0.7rem;
--feather-line-height-normal: 1rem;
--feather-font-size-small: 0.6rem;
--feather-line-height-small: 0.8rem;
--feather-font-weight-normal: 400;
--feather-font-weight-bold: 700;
}

.left-col {
    height: 100%;
    width: 400px;
    color: #14171a;
}

.feed-col {
    flex-grow: 1;
    min-width: 500px;
    margin-top: -1em;
}

.metadata-col {
    height: 100%;
    width: 300px;
}

.account-info .row {
    border: 1px solid rgb(204, 214, 221);
    border-top: none;
    padding: 1em;
    font-size: 13px;
}

.account-info h3 {
    margin-top: 0px;
    margin-bottom: 0.5em;
}
