.avatar-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

.account-name {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25em;
    margin-top: 0px;
    margin-right: 0.5em;
    vertical-align: middle;
}

.account-handle {
    display: block;
    font-size: 12px;
    overflow: hidden;
    line-height: 1.25em;
    vertical-align: middle;
    font-weight: normal;
    color: #565656;
}

.account-bio {
    padding: 1em;
}
