.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 100px;
  height: 100px;
}

.spinner .path {
  stroke: rgb(180, 180, 180);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner-wrap {
  position: relative;
  text-align: center;
}

.spinner-text {
  position: absolute;
  font-size: 11px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  font-weight: bold;
  color: #121212;
  white-space: nowrap;
  transform: translate3d(-50%, -50%, 0);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.spinner-wrap.absolute-center,
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
